@tailwind base;
@tailwind components;
@tailwind utilities;


@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

html,
body,
:root {
    height: 100%;
}

.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
    z-index: 0 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    font-size: 16px !important;
    width: 100% !important;
}

.app-logo {
    display: none;
}

@media screen and (max-width: 768px) {
    .app-logo {
        display: block;
    }

    .category-box {
        margin-right: 0.7rem;
    }
}